<div class="safety_cont">
    <h3 class="safehead">
        <a href="" class="safewo">安全中心</a> > <a href="" class="safeni">设置交易密码</a>
    </h3>
    <div class="safe_container">
        <div class="divp">
        <p><a href="">身份证号：</a><input type="text"/></p>
        <p class="yzm"><a href="">手机号码：</a><input type="text" placeholder="155****3950" /><a href="" class="yzmaa">获取验证码</a></p>
        <p><a href="">验证码：</a><input type="text"/></p>
        <p><a href="">交易密码：</a><input type="text"/></p>
        <p><a href="">确认交易密码：</a><input type="text"/></p>

            <h3><a href="">设置</a></h3>
        </div>
    </div>
</div>