
<div class="wallet_cont">

    <div class="money_left">
    <div class="walletimg"><img src="images/user.png" alt=""/></div>
        <div class="username">
            <h3>Hi:&nbsp;{{user.name}}</h3>
            <p>欢迎进入天融钱包</p>
        </div>
    </div>
    <div class="money_right">
        <div class="cont_money">
            <p>我的总资产：</p>
            <p>￥<span>{{user.allmoney}}</span></p>
        </div>
        <div class="litter_money">
            <p>可用余额：￥ <span>{{user.kymoney}}</span></p>
            <p>提现中：￥ <span>{{user.txmoney}}</span></p>
        </div>
    </div>

</div>

<div class="cont">
   <ul class="clearfix">
       <li><div class="siximg">
           <img src="images/oo_cz.png" alt=""/>
       </div>
           <div class="sixtext">
               <a href="#ssrecharge">充值</a>
               <p>余额不足了，快来充值吧！</p>
           </div>
       </li>
<li><div class="siximg">
           <img src="images/oo_tx.png" alt=""/>
       </div>
           <div class="sixtext">
               <a href="#sscash">提现</a>
               <p>当想使用现金时，可用把余额里面的钱提到银行卡里哦！</p>
           </div>
       </li>
<li class="siximgvt"><div class="siximg ">
           <img src="images/oo_mycard.png" alt=""/>
       </div>
           <div class="sixtext">
               <a href="#sscard">我的银行卡</a>
               <p>进入我的银行卡，可进行银行卡管理哦！</p>
           </div>
       </li>
<li><div class="siximg">
           <img src="images/oo_zd.png" alt=""/>
       </div>
           <div class="sixtext">
               <a href="#ssbill">账单</a>
               <p>交易信息查询，可以查询到你充值提现的所有交易信息。</p>
           </div>
       </li>
<li><div class="siximg">
           <img src="images/oo_qbb.png" alt=""/>
       </div>
           <div class="sixtext">
               <a href="#ssqqcoin">企帮币</a>
               <p>赶快查看您的企帮币交易记录吧！</p>
           </div>
       </li>
<li class="siximgvt"><div class="siximg  ">
           <img src="images/oo_trb.png" alt=""/>
       </div>
           <div class="sixtext">
               <a href="#ssskycoin ">天融币</a>
               <p>天融币和关爱币的比例是1:1，赶快兑换成关爱币吧！</p>
           </div>
       </li>

   </ul>
</div>
<div class="clearfix"></div>

<div class="selltable">
    <div> <a href="#aasearch" ></a>近期交易记录  <a href="#aasearch" class="searchwo">查询更多</a></div>
    <table>
        <tr>
            <th>交易时间</th>
            <th>名称</th>
            <th>订单号</th>
            <th>交易金额</th>
            <th>状态</th>
        </tr>
        <tr ng-repeat="sel in Selects">
            <td>{{sel.time}}</td>
            <td>{{sel.name}}</td>
            <td>{{sel.num}}</td>
            <td>{{sel.money.add | add}}{{sel.money.num}}</td>
            <td>{{sel.success | stutas}}</td>
        </tr>
    </table>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>