<div class="cash_container">
    <h3 class="cashh3"><a href="#aawallet" class="a1">我的钱包</a> > <a href="">提现</a></h3>
    <div class="cash_pcont">
        <!--<p><span>余额：</span><a>{{msgyuer}}</a></p>-->
        <!--<p><span>银行卡：</span><h4><i></i><i>中国深圳发展银行6224*******4423</i><i></i></h4></p>-->
        <!--<p><span>提现金额：</span><input type="text"/></p>-->
        <!--<p><span>手续费：</span><input type="text"/></p>-->
        <!--<p><span>实际到账：</span><input type="text"/></p>-->
        <!--<p><a href="">提现费率介绍</a></p>-->
        <!--<p><span>交易密码：</span><input type="text"/></p>-->
        <!--<h3><a href="">提现</a></h3>-->
        <table>
            <tr>
                <td>余额：</td>
                <td>ooooooooooooo</td>
            </tr>
            <tr>
                <td>银行卡：</td>
                <td >
                    <div class="tdline">
                    <p class="p1"></p>
                    <p class="p2">中国深圳发展银行<br/>6224*******4423</p>
                    <p class="p3"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>提现金额：</td>
                <td><input type="text"/></td>
            </tr>
             <tr>
                <td>手续费：</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>实际到账：</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td></td>
                <td align="top"><a href="http://www.baidu.com">提现费率介绍</a></td>
            </tr>

             <tr>
                <td>交易密码：</td>
                <td><input type="text"/></td>
            </tr>


        </table>

        <h3><a href="">提现</a></h3>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>



</div>