<div class="card_cont">
    <h3 class="cashh3"><a href="#aawallet" class="a1">我的钱包</a> >
        <a href="">我的银行卡</a></h3>
<div class="card_ontainer">
    <div class="card_img">
        <p class="p_img"></p>
    </div>
    <table>
        <tr>
            <td>真实姓名：</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>身份证号：</td>
            <td><input type="text" placeholder="2222222222222222222222"/></td>
        </tr>
        <tr>
            <td>银行卡号：</td>
            <td><input type="text" placeholder="请输入正确的银行卡号"/><span>卡号不能为空</span></td>
        </tr>
        <tr>
            <td>开户银行：</td>
            <td> <select name="" id="qq">
                <option value="">那你</option>
                <option value="">那你</option>
                <option value="">那你</option>
            </select></td>
        </tr>
        <tr>
            <td>手机号码：</td>
            <td><input type="text" placeholder="请输入银行卡绑定手机号"/><span>ss</span></td>
        </tr>
        <tr>
            <td>地址：</td>
            <td>
                <select name="" id="ww">
                    <option value="">那你</option>
                    <option value="">那你</option>
                    <option value="">那你</option>
                    <option value="">那你</option>
                </select>
                <select name="" id="xx">
                    <option value="">那你</option>
                    <option value="">那你</option>
                    <option value="">那你</option>
                    <option value="">那你</option>
                </select>

            </td>
        </tr>

         <tr>
            <td></td>
            <td><span></span>同意 <a href="">《支付协议》</a></td>
        </tr>

    </table>
    <h3><a href="">下一步</a></h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

</div>
</div>