

<div class="recharge_cont">
  <h3 class="cashh3"><a href="#aawallet" class="a1">我的钱包</a> >
    <a href="">充值</a></h3>
  <div class="recharge_div">
    <table>
      <tr>
        <td>选择支付方式：</td>
        <td>
          <div class="div1"><p class="p1 p111"></p><p class="p2"></p><p class="p3">京东钱包支付</p></div>
          <div class="clearfix"></div>
          <div class="div1 div2"><p class="p1"></p><p class="p2"></p><p class="p3">中国建设银行 <br/>尾号4400</p></div>
        </td>
      </tr>
      <tr>
        <td>充值金额：</td>
        <td class="cash"><input type="text"/><span>金额不能为空</span></td>
      </tr>
       <tr>
        <td>手机号码：</td>
        <td class="phone"><input type="text"placeholder="155****3950" /> <a href="">获取验证码</a></td>
      </tr>
       <tr>
        <td>验证码：</td>
        <td><input type="text"/></td>
      </tr>

    </table>
    <h3><a href="">确认支付</a></h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>